html {
    position: relative;
    min-height: 100%;
}

body {
    background:url(bg3.jpg) center center fixed;
    background-size: cover;
    /* background:url(https://images.everydayhealth.com/images/last-minute-marathon-tips-722x406.jpg) no-repeat center center fixed; */
}